body{
margin:0px;
padding:0px;
}
header{
background-color:#1abc9c;
}
h1{
text-align: center;
color:#000000;
}
h2{
text-align:center;
color:#213b52;
}
section {
background-color:orange;
}
a{
background-color:red;
color:yellow;
}